<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TravellocationMapper">

 
    <select id="findAllTravellocations" resultType="com.example.demo.model.Travellocation">
        SELECT location_id,
		    location_name,
		    country,
		    city,
		    address,
		    description,
		    category,
		    latitude,
		    longitude,
		    image_url,
		    created_at,
		    updated_at
		FROM travellocations
    </select>

    
</mapper>	